html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --primary-text-color: #757575;
  --footer-adress-text-color: rgba(255, 255, 255, 0.6);
  --foorter-hero-bg-color: #2f303a;
  --section3-bg-color: #f5f4fa;
  --button-filter-non-active-color: #f5f4fa;
  --button-filter-active-color: #2196f3;
  --button-main-active-color: #188CE8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.02em;
  }

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header .logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

header .studio-in-logo {
  color: #000000;
}

.header {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
  outline: 2px solid var(--accent-color);
}


/* Site nav */

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contacts-header:hover,
.contacts-header:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--foorter-hero-bg-color);
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

/* buttons */

.button-main {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px ;
  min-width: 216px;
  min-height: 50px;
  text-align: center;
  border: none;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--button-main-active-color);
}


.button-filter {
  color: var(--title-text-color);
  background-color: var(--button-filter-non-active-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Sections */

.section1-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section1-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title-portfolio {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.paragraph-portfolio {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.section2-title,
/* наша команда */
.section3-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.section3 {
  background-color: var(--section3-bg-color);
}

.person-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.person-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  /* margin-bottom: 0px; */
}

/* Footer */
footer {
  background-color: var(--foorter-hero-bg-color);
}

footer .logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  /* margin-top: 0px; */
}

footer .studio-in-logo {
  color: var(--white-color);
}

.address-link {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-mail,
.address-tel {
  font-style: normal;
  color: var(--footer-adress-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link:hover,
.address-link:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}
